<app-header class="margin-bottom"></app-header>

<main>
    <section class="presentation">
        <h2 class="presentation__myNameIs">HOLA,MI NOMBRE ES SANTIAGO</h2>
        <h2 class="presentation__webDevelop">Desarrollo páginas web</h2>
        <h2 class="presentation__paragrahp">
            Me especializo en la creación de sitios web funcionales y atractivos, combinando diseño creativo con código limpio y eficiente.
        </h2>
    </section>

    <section class="tools">
        <h2 class="tools_tittle">Habilidades & Herramientas</h2>
        <div class="tools__ContainerRow">
            <div class="tools__ContainerColumn">
                <img src="../../../assets/img/html5.png" alt="" class="tools__Img">
                <h2 class="tools__name">HTML5</h2>
            </div>
            <div class="tools__ContainerColumn">
                <img src="../../../assets/img/sass.png" alt="" class="tools__Img">
                <h2 class="tools__name">SASS</h2>
            </div>
        </div>
        
        <div class="tools__ContainerRow">
            <div class="tools__ContainerColumn">
                <img src="../../../assets/img/js.png" alt="" class="tools__Img">
                <h2 class="tools__name">Java Script</h2>
            </div>
            <div class="tools__ContainerColumn">
                <img src="../../../assets/img/angular.png" alt="" class="tools__Img">
                <h2 class="tools__name">Angular Js</h2>
            </div>
        </div>

        <div class="tools__ContainerRow">
            <div class="tools__ContainerColumn">
                <img src="../../../assets/img/git-alt.png" alt="" class="tools__Img">
                <h2 class="tools__name">GitBash</h2>
            </div>
            <div class="tools__ContainerColumn">
                <img src="../../../assets/img/github-alt.png" alt="" class="tools__Img">
                <h2 class="tools__name">GitHub</h2>
            </div>
        </div>
    </section>

    <section class="portafolio">
        <h2 class="portafolio__name">PORTAFOLIO</h2>
        <app-proyect></app-proyect>
        <app-proyect></app-proyect>
        <app-proyect></app-proyect>
    </section>
    
    <section class="contact">
        <app-contact></app-contact>      
    </section>
</main>