<div class="contact__center">
    <h2 class="contact__text">Me puedes contactar</h2>
</div>
<div class="contact__icons">
    <img class="contact__icon" src="../../../assets/img/github-mark/github-mark-white.png" alt="">
    <img class="contact__icon linkedin" src="../../../assets/img/LinkedIn-Logos/LI-In-Bug.png" alt="">
    <fa-icon class="contact__icon" [icon]="faEnvelope"></fa-icon>
</div>
<button class="cv">
    link pdf  CV!
    <fa-icon class="contact__iconlink" [icon]="faLink"></fa-icon>
</button>

